<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebjetAPI" value="http://webjetapitest.azurewebsites.net/api" />
    <add key="WebjetAPIToken" value="sjd1HfkjU83ksdsm3802k" />
    <add key="URLDomain" value="http://localhost:57659"/>
    <add key="MoviesDatabases" value="cinemaworld, filmworld"/>
  </appSettings>
</configuration>